.download-wrapper .download .download-inner {
  display: inline-flex;
}

.download-wrapper .download .download-link {
  display: inline-block;
  padding: 12px 20px;
  border: 1px solid var(--main-accent-color);
  border-radius: 4px;
  background: var(--main-accent-color);
  color: var(--text-light);
  text-decoration: none;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.2;
}

.download-wrapper .download .download-link:hover {
  background: transparent;
  color: var(--main-accent-color);
}

.download-wrapper .download .download-inner.link .download-link {
  padding: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  color: var(--link-color);
  font-weight: 500;
}

.download-wrapper .download .download-inner.link .download-link:hover {
  text-decoration: underline;
}
